/**********CSS STYLING**********/
:root {
    --primary: #0088CC;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #1E1E1E;
}

/********* General  ********/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Futura", sans-serif;
    background-color: var(--dark);
    min-height: 100vh;
    width: 100%;
}

/********* Spinner  ********/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/********* Headings ********/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
    font-family: "Futura", sans-serif !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}

p{
    color: #FFFFFF;
}


/********* Section Title  ********/
.section-title::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@keyframes section-title-run {
    0% {
        left: 0;
    }

    50% {
        left: 145px;
    }

    100% {
        left: 0;
    }
}

@keyframes section-title-run-center {
    0% {
        left: 50%;
        margin-left: -75px;
    }

    50% {
        left: 50%;
        margin-left: 45px;
    }

    100% {
        left: 50%;
        margin-left: -75px;
    }
}

@keyframes section-title-run-sm {
    0% {
        left: 0;
    }

    50% {
        left: 85px;
    }

    100% {
        left: 0;
    }
}

/********* Button ********/
.btn {
    font-family: 'Futura', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-light {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-light:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 12px 10px;
    border-radius: 25px;
    text-align: center;
}

/********* Header ********/
#header {
    background-image: url(../img/dark-bg.jpg);
}

#sub-header{
    background-image: url(../img/rectangle-overlay.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: relative;
}

#sub-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.1);
    opacity: .9; 
  }



/********* Navbar ********/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Futura', sans-serif;
    position: relative;
    margin-left: 55px;
    padding: 20px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 700;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}


.navbar-dark .navbar-brand img {
    width: 150px;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: var(--dark);
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #FFFFFF;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        background-color: #FFFFFF;
        z-index: 999;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-brand img {
        width: 223px;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

/********* Hero ********/
#hero {
    width: 100%;
    height: 100vh;
    padding: 500px 0px 550px 0px;
}

#hero h1 {
    color: #FFFFFF;
    font-size: 38px;
}

#hero h3 {
    color: #FFFFFF;
}

#hero h1 span {
    color: var(--primary);
}

#hero li {
    font-size: 20px;
    color: #FFFFFF;
}

#hero ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#hero .btn a {
    font-family: "Futura", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    color: #fff;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to left, #0088CC, #5F66AE, #5F66AE) 1;
    padding: 12px 60px;
    display: inline-block;
    border-radius: 8px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    overflow: hidden;
    background: linear-gradient(92.75deg, rgba(0, 136, 204, 0.84) 0%, rgba(95, 102, 174, 0.67) 51.56%, rgba(95, 102, 174, 0.87) 100%);
}

#hero .btn a:hover {
    background-color: #fff;
    color: #7453fc;
}

#hero .hero-img img {
    width: 50%;
}

@media (min-width: 992px) {
    #hero {
        width: 100%;
        height: 100vh;
        padding:400px 0px 350px 0px;
    }

    #hero h1 {
        font-size: 50px;
        line-height: 66px;
        color: #FFFFFF;
    }

    #hero h3 {
        color: #FFFFFF;
    }

    #hero .btn a {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #hero {
        width: 100%;
        height: 100vh;
        padding: 500px 0px 550px 0px;
    }
}

@media (min-width: 575px) and (max-width: 767px) {
    #hero {
        width: 100%;
        height: 100vh;
        padding: 550px 0px 550px 0px;
    }
}

/********* About ********/
.about {
    background-color: #1E1E1E;
}

.about h1 {
    color: #FFFFFF !important;
    font-size: 28px;
}

@media (min-width: 992px) {
    .about {
        padding: 120px 0px 150px 0px;
    }

    .about h1 {
        font-size: 32px;
    }

    .about p {
        font-size: 24px;
        line-height: 1.5;
    }
}

/********* Our Work ********/
.our-work {
    background-color: #1E1E1E;
}

.our-work h1 {
    color: #FFFFFF !important;
    font-size: 28px;

}

.our-work .btn {
    font-family: "Futura", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    color: #fff;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to left, #0088CC, #5F66AE, #5F66AE) 1;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 12px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    overflow: hidden;
    background: linear-gradient(92.75deg, rgba(0, 136, 204, 0.84) 0%, rgba(95, 102, 174, 0.67) 51.56%, rgba(95, 102, 174, 0.87) 100%);
}

.our-work .btn:hover {
    background-color: #fff;
    color: #7453fc;
}

.our-work .item {
    position: relative;
    overflow: hidden;
}

.our-work-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.our-work-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: #DDDDDD;
    border-radius: 50%;
    transition: .5s;
}

.our-work-carousel .owl-dot.active {
    width: 15px;
    height: 15px;
    background: var(--primary);
}

.our-work-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.our-work .our-work-carousel .owl-item .item {
    transition: .5s;
}

.our-work .our-work-carousel .owl-item.center .item {
    box-shadow: 0 0 30px #DDDDDD;
}

.our-work .owl-nav {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-23px);
    text-align: center;
}

.our-work .owl-nav .owl-prev {
    position: absolute;
    left: -5px;
}

.our-work .owl-nav .owl-next {
    position: absolute;
    right: -5px;
}

.our-work .owl-nav .owl-prev span,
.our-work .owl-nav .owl-next span {
    width: 56px;
    height: 56px;
    line-height: 46px;
    font-size: 82px;
    font-weight: 700;
    display: inline-block;
    color: var(--primary);
    transition: all .3s;
}

.our-work .owl-nav .owl-prev span:hover,
.our-work .owl-nav .owl-next span:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .our-work h1 {
        font-size: 32px;
    }

    .our-work .btn {
        font-size: 20px;
        padding: 12px 60px;
    }
}

/********* CTA ********/
.cta {
    background-image: url(../img/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 140px;
}

.cta h2 {
    font-size: 32px;
    margin-bottom: 24px;
    color: #FFFFFF;
    font-family: "Futura", sans-serif;
}

.cta .btn a {
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    color: #fff;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to left, #0088CC, #5F66AE, #5F66AE) 1;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 8px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    overflow: hidden;
    background: linear-gradient(92.75deg, rgba(0, 136, 204, 0.84) 0%, rgba(95, 102, 174, 0.67) 51.56%, rgba(95, 102, 174, 0.87) 100%);
}

.cta .btn a:hover {
    background-color: #fff;
    color: #7453fc;
}

@media (min-width: 992px) {
    .cta h2 {
        font-size: 32px;
    }

    .cta .btn a {
        font-size: 20px;
        padding: 12px 60px;
    }
}

/********* Podcasts ********/
.podcasts {
    background-color: #1E1E1E;
    position: relative;
}

.podcasts h1 {
    color: #FFFFFF !important;
    font-size: 28px;
}

.podcasts .podcast-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    margin-bottom: 32px;
    border-bottom: 2px solid #fff;
}

.podcasts .podcast-track {
    display: flex;
}

.podcasts .podcast-description {
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Futura", sans-serif;
}

.podcasts .podcast-title {
    margin-left: 16px;
    font-size: 14px;

}

.podcasts i {
    color: white;
    font-size: 48px;
}

.podcasts .podcast-artist {
    color: white;
}

.podcasts .podcast-time {
    color: white;
    font-weight: bold;
}

@media (min-width: 992px) {
    .podcasts{
        padding: 120px 0px 150px 0px;
    }
    .podcasts h1 {
        font-size: 32px;
    }
}

/********* Review ********/
.review {
    background-color: #1E1E1E;
}

.review h1 {
    color: #FFFFFF !important;
    font-size: 28px;
}

.review .item {
    position: relative;
    overflow: hidden;
}

.review-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.review-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: #DDDDDD;
    border-radius: 50%;
    transition: .5s;
}

.review-carousel .owl-dot.active {
    width: 15px;
    height: 15px;
    background: var(--primary);
}

.review-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.review .review-carousel .owl-item .item {
    transition: .5s;
}

.review .owl-nav {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-23px);
    text-align: center;
}

.review .owl-nav .owl-prev {
    position: absolute;
    left: -5px;
    top: -50px;
}

.review .owl-nav .owl-next {
    position: absolute;
    right: -5px;
    top: -50px;
}

.review .owl-nav .owl-prev span,
.review .owl-nav .owl-next span {
    width: 56px;
    height: 56px;
    line-height: 46px;
    font-size: 82px;
    font-weight: 700;
    display: inline-block;
    color: var(--primary);
    transition: all .3s;
}

.review .owl-nav .owl-prev span:hover,
.review .owl-nav .owl-next span:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    
    .review h1 {
        font-size: 32px;
    }
}

/********* Footer ********/
footer {
    background-color: var(--dark);
}

.footer-about .navbar-brand img {
    width: 150px;
}

@media (min-width: 992px) {
    footer {
        padding: 60px 0px 150px 0px;
    }  
    .footer-about .navbar-brand img {
        width: 223px;
    }
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }
}

/********* Sub Page ********/
#sub-hero {
    width: 100%;
    height: 80vh;
    padding: 80px 0px 80px 0px;
}

#sub-hero h1 {
    color: #FFFFFF;
}

@media (min-width: 992px) {
    #sub-hero {
        height: 90vh;
        padding: 200px 0px 200px 0px;
    }
}


/********* Contact Page ********/
.contact {
    background-color: var(--dark);
}

.contact h1 {
    color: #FFFFFF;
}

.contact h5 {
    color: #FFFFFF;
}

@media (min-width: 992px) {
    
    .contact h1 {
        font-size: 32px;
    }
}

/********* Miscellaneous ********/
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}




/* ------------------ */
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
  }
  
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    background: #47b2e4;
    color: #fff;
  }
  
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
  }
  
  .portfolio .portfolio-item .portfolio-img img {
    transition: all 0.6s;
  }
  
  .portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all 0.3s;
    background: rgba(55, 81, 126, 0.8);
    padding: 10px 15px;
  }
  
  .portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
  }
  
  .portfolio .portfolio-item .portfolio-info p {
    color: #f9fcfe;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #47b2e4;
  }
  
  .portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
  }
  
  .portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.15);
  }
  
  .portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
  }
  